MANIFEST
build
dist
/src/Werkzeug.egg-info
*.pyc
*.pyo
env
.DS_Store
docs/_build
bench/a
bench/b
.tox
.coverage
.coverage.*
coverage_out
htmlcov
.cache
.xprocess
.hypothesis
test_uwsgi_failed
.idea
.pytest_cache/
venv/
.vscode
