include Makefile CHANGES LICENSE AUTHORS
recursive-include werkzeug/debug/shared *
recursive-include tests *
recursive-include docs *
recursive-include artwork *
recursive-include examples *

prune docs/_build
prune docs/_themes
global-exclude *.py[cdo] __pycache__ *.so *.pyd
