<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Console // Werkzeug Debugger</title>
    <link rel="stylesheet" href="./__debugger__?cmd=resource&amp;f=style.css" type="text/css">
    <script type="text/javascript" src="./__debugger__?cmd=resource&amp;f=jquery.js"></script>
    <script type="text/javascript" src="./__debugger__?cmd=resource&amp;f=debugger.js"></script>
    <script type="text/javascript">
      var EVALEX = true,
          CONSOLE_MODE = true;
    </script>
  </head>
  <body>
    <div class="debugger">
      <h1>Interactive Console</h1>
      <div class="explanation">
        In this console you can execute Python expressions in the context of the
        application.  The initial namespace was created by the debugger automatically.
      </div>
      <div class="console"><div class="inner">The Console requires JavaScript.</div></div>
      <div class="footer">
        Brought to you by <strong class="arthur">DON'T PANIC</strong>, your
        friendly Werkzeug powered traceback interpreter.
      </div>
    </div>
  </body>
</html>
