<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>$escape(traceback.exception) // Werkzeug Debugger</title>
    <link rel="stylesheet" href="./__debugger__?cmd=resource&amp;f=style.css" type="text/css">
    <script type="text/javascript" src="./__debugger__?cmd=resource&amp;f=jquery.js"></script>
    <script type="text/javascript" src="./__debugger__?cmd=resource&amp;f=debugger.js"></script>
    <script type="text/javascript">
      var TRACEBACK = $traceback.id,
          CONSOLE_MODE = false,
          EVALEX = ${evalex and 'true' or 'false'};
    </script>
  </head>
  <body>
    <div class="debugger">
      <h1>$escape(traceback.exception_type)</h1>
      <div class="detail">
        <p class="errormsg">$escape(traceback.exception)</p>
      </div>
      <h2 class="traceback">Traceback <em>(most recent call last)</em></h2>
      $traceback.render_summary(include_title=False)
      <div class="plain">
        <form action="http://paste.pocoo.org/" method="post">
          <p>
            <input type="hidden" name="language" value="pytb">
            This is the Copy/Paste friendly version of the traceback.  <span
            class="pastemessage">You can also paste this traceback into the public
            lodgeit pastebin: <input type="submit" value="create paste"></span>
          </p>
          <textarea cols="50" rows="10" name="code" readonly>$escape(traceback.plaintext)</textarea>
        </form>
      </div>
      <div class="explanation">
        The debugger caught an exception in your WSGI application.  You can now
        look at the traceback which led to the error.  <span class="nojavascript">
        If you enable JavaScript you can also use additional features such as code
        execution (if the evalex feature is enabled), automatic pasting of the
        exceptions and much more.</span>
      </div>
      <div class="footer">
        Brought to you by <strong class="arthur">DON'T PANIC</strong>, your
        friendly Werkzeug powered traceback interpreter.
      </div>
    </div>
  </body>
</html>
<!--

<%py
  import re
  print re.sub('-{2,}', '-', traceback.plaintext)
%>

-->
