<table class="vars">
<% if type == 'empty' %>
  <tr><th>no data given</th></tr>
<% elif type == 'simple' %>
  <tr><td class="value">$escape(value)</td></tr>
<% elif type == 'dict' %>
  <tr><th>Name</th><th>Value</th></tr>
  <% for key, item in value %>
  <tr><td class="name">$escape(key)</td><td class="value">$escape(item)</td></tr>
  <% endfor %>
<% elif type == 'list' %>
  <% for item in value %>
  <tr><td class="value">$escape(item)</td></tr>
  <% endfor %>
<% endif %>
</table>
