<table class="vars">
<% if type == 'empty': %>
  <tr><th>no data given</th></tr>
<% elif type == 'simple': %>
  <tr><td class="value"><%= value|escape %></td></tr>
<% elif type == 'dict': %>
  <tr><th>Name</th><th>Value</th></tr>
  <% for key, item in value: %>
  <tr><td class="name"><%= key|escape %></td><td class="value"><%= item|escape %></td></tr>
  <% end %>
<% elif type == 'list': %>
  <% for item in value: %>
  <tr><td class="value"><%= item|escape %></td></tr>
  <% end %>
<% end %>
</table>
